.searchbar {
  background: #FA893C;
  opacity: 60%;
  width: 100%;
  min-width: 540px;
  margin-bottom: min(5em, 50px) !important;
}

.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayContainer {
  width: 95%;
}

.uploadButton {
  position: absolute !important;
  right: 15px;
  bottom: 15px;
  background-color: #FA893C !important;
  color: white !important;
  box-shadow: none !important;
}

.uploadButton:hover {
  background-color: #f44336 !important;
}

.MuiTableRow-root {
  height: 10px;
}
