charset-normalizer==2.1.1
click==8.1.3
decorator==4.4.2
dlib==19.24.0
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
idna==3.4
imageio==2.22.4
imageio-ffmpeg==0.4.7
moviepy==1.0.3
numpy==1.23.5
opencv-python==4.6.0.66
Pillow==9.3.0
pipreqs==0.4.11
proglog==0.1.10
requests==2.28.1
tqdm==4.64.1
urllib3==1.26.12
yarg==0.1.9
